POSTGRES_DB="property-service-tracking"
POSTGRES_USER="property-service-tracking"
POSTGRES_PASSWORD="changeme"
POSTGRES_HOST="127.0.0.1"
POSTGRES_PORT="5432"

KEYCLOAK_ADMIN="admin"
KEYCLOAK_ADMIN_PASSWORD="changeme"
KEYCLOAK_URL="127.0.0.1"
KEYCLOAK_PORT="8090"
KEYCLOAK_ISSUER_URL="http://127.0.0.1:8090/realms/property-service-tracking"
KEYCLOAK_AUDIENCE="property-service-api"
KEYCLOAK_DB="keycloak"
